body{
    font-family: system-ui;
    background-image: url("./src/assets/blurred-restaurant-scene-with-empty-tabletop-free-photo.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

