.item-menu {
    background-color: blanchedalmond;
    box-shadow: 5px 5px 5px gray;
    padding: 50px;
    margin: 50px auto;
    border-radius: 10px;
    width: 60%;
}

.item-menu h2 {
    text-align: center;
}

.td-nombre {
    font-weight: bold;
    width: 400px;
}
.td-precio{
    width: 250px;
    text-align: right;
}

.img-item {
    width: 150px;
    border-radius: 25px;
}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: black;
}

@media (min-width: 320px) and (max-width: 768px) {
    .img-item {
        width: 75px;
        border-radius: 25px;
    }
    tr {
        display: flex;
        text-align: justify;
        font-size: 10px;
    }
    .item-menu{
        min-width: 95%;
        padding: 0px;
    }
    .td-nombre {
        font-weight: bold;
        width: 70px;
    }
    .td-detalle{
        width: 100px;
        font-size: 10px;
    }
    .td-precio h5{
        width: 10px;
        text-align: right;
        font-size: 10px;
    }
}
