.item-menu {
    background-color: blanchedalmond;
    box-shadow: 5px 5px 5px gray;
    margin: 50px auto;
    border-radius: 10px;
}
.img-item {
    width: 150px;
    border-radius: 25px;
}

.item-menu h2 {
    text-align: center;
}
@media (min-width: 320px) and (max-width: 768px) {
    .img-item {
        width: 75px;
        border-radius: 25px;
    }
    }
