.banner{
    background-image: url("https://img.freepik.com/fotos-premium/hamburguesa-ketchup-queso-lechuga-tomate-ternera-cebolla-fondo-negro-lugar-enfoque-selectivo-texto_210632-3900.jpg?w=1380");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}
.Lado-SN{
    color: beige;
    padding-top: 50px;
}
.titulo-SN{
    text-align: left;
    padding-left: 300px;
}

.t-SN {
    text-align: left;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.parrafo-SN p {
    text-align: left;
    padding-left: 150px;
}
.direccion{
    padding-top: 100px;
}

.form-Text{
    
    width: 100%;
    padding-right: 10px;
    margin: 5px;
}
.cardForm{
    opacity: 80%;;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 500px;
}
.form-name{
    flex: 1 0 130px;
}
.form-number{
    flex: 1 0 130px;
}
.form-email{
    flex: 1 0 130px;
}
.formulario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: rebeccapurple;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
}